.footer {
  width: 1920px;
  .inform {
    display: flex;
    align-items: center;
    background: rgb(33, 37, 41);
    height: 226px;
    padding-left: 255px;
    &__holder {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 80px;
      .contact {
        p {
          color: rgb(243, 243, 243);
          font-size: 24px;
          font-weight: 700;
          line-height: 130%;
          letter-spacing: 0%;
          margin-bottom: 27px;
        }
      }
      h3 {
        color: rgb(175, 175, 175);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        margin-bottom: 14px;
      }
      p {
        color: rgb(243, 243, 243);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
      }
      a {
        color: rgb(243, 243, 243);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
      }
    }
  }
  .privacy {
    display: flex;
    align-items: center;
    height: 101px;
    background: rgb(39, 43, 48);
    .privacy__holder {
        display: flex;
        align-items: center;
        gap: 300px;
        padding-left: 255px;
      .privacy__left {
        p {
          color: rgb(175, 175, 175);
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
        }
      }
    }
  }
}
